<launch>

  <node name="pub_0"
        pkg="jsk_20160505_test_message_filters" type="publish_string">
    <rosparam>
      rate: 10
    </rosparam>
  </node>
  <node name="pub_1"
        pkg="jsk_20160505_test_message_filters" type="publish_string">
    <rosparam>
      rate: 30
    </rosparam>
  </node>
  <node name="pub_2"
        pkg="jsk_20160505_test_message_filters" type="publish_string">
    <rosparam>
      rate: 30
    </rosparam>
  </node>

  <node name="join_strings"
        pkg="jsk_20160505_test_message_filters" type="join_strings">
    <remap from="~input0" to="pub_0" />
    <remap from="~input1" to="pub_1" />
    <remap from="~input2" to="pub_2" />
  </node>

</launch>
